@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:whitesmoke
}
:root{
    --offconvas-width:270px;
    --topnavbarHeight:56px;
}

.admin-icon{
    width: 30Px;
    border-radius: 100%;
}
.sidebar-nav{
width: var(--offconvas-width) !important;
top:var(--topnavbarHeight);
}
.sidebar-link .right-icon{
    transition: all 0.5s;
}
.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(180deg);
}

@media (min-width:992px){
    .offcanvas-backdrop{
        display: none !important;
    }
    .sidebar-nav{
        transform: none !important;
        visibility: visible !important;
        top:var(--topnavbarHeight) !important;
    }
    main{
        margin-left: var(--offconvas-width);
    }
}
@media (max-width:480px){
    .dashbord-count .card{
        margin-bottom:10px;
    }
    .dashbord-tab .nav-tabs .nav-link{
        padding: 6px;
        font-size: 10px;
    }
}